{% extends "base.html" %}

{% block title %}Klitama Landing Page{% endblock %}

{% block content %}
<div class="hero-bg h-[500px] bg-cover bg-center relative text-white flex items-center justify-center"
style="background-image: url('/static/img/bg-klinik.jpg');">
  <div class="bg-black bg-opacity-50 w-full h-full absolute inset-0"></div>

  <div class="relative z-10 text-center">
    <p class="text-sm md:text-base font-semibold uppercase tracking-widest mb-2 text-gray-100">Selamat Datang di</p>
    <h1 class="text-3xl md:text-5xl font-extrabold mb-6">
      Klitama
    </h1>
    <a href="/reservasi" class="inline-block bg-sky-500 hover:bg-sky-600 text-white px-6 py-3 text-sm font-semibold rounded-md transition">
      Reservasi Sekarang
    </a>
  </div>
</div>
{% endblock %}